.bread{
  display: flex;
  padding-top: 2rem;

  .span{
    display: flex;
    justify-content: center;
    .crumb{
      align-items: center;
      text-decoration: none;
      color: $color-text-secondary  ;
    }
    .crumb:hover{
      text-decoration-line: underline;
    }
    .img{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .span:last-child .crumb{
    color: $color-text-primary
  }
}




